/* You can add global styles to this file, and also import other style files */

@import '~material-icons/iconfont/material-icons.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.mat-button.mat-primary .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #1f54b5;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #8194b8;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #1f54b5;
}